---
http_interactions:
- request:
    method: get
    uri: https://api.vimeo.com/videos/375468729
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.vimeo.error+json
      Www-Authenticate:
      - Bearer error="invalid_token"
      Request-Hash:
      - c67c8151
      X-Vimeo-Error:
      - 'true'
      X-Bapp-Server:
      - api-758fc49b98-nzcfs
      X-Backend-Server:
      - api-k8s
    body:
      encoding: UTF-8
      string: '{"error":"Something strange occurred. Please get in touch with the
        app''s creator.","link":null,"developer_message":"The app didn''t receive
        the user''s credentials.","error_code":8003}'
  recorded_at: Thu, 18 Jan 2024 17:37:19 GMT
recorded_with: VCR 6.2.0
