---
http_interactions:
- request:
    method: get
    uri: https://api.vimeo.com/videos/375468729
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.vimeo.video+json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '48'
      X-Ratelimit-Reset:
      - '2024-01-18T17:38:20+00:00'
      Request-Hash:
      - 7610c7f9
      X-Bapp-Server:
      - api-758fc49b98-v47jm
      X-Backend-Server:
      - api-k8s
    body:
      encoding: UTF-8
      string: '{"uri":"/videos/375468729","name":"Rick Roll''d","description":null,"type":"video","link":"https://vimeo.com/375468729","player_embed_url":"https://player.vimeo.com/video/375468729?h=d063a6fe74","duration":212,"width":1280,"language":null,"height":720,"embed":{"html":"<iframe
        src=\"https://player.vimeo.com/video/375468729?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=285267\"
        width=\"1280\" height=\"720\" frameborder=\"0\" allow=\"autoplay; fullscreen;
        picture-in-picture\" title=\"Rick Roll''d\"></iframe>","badges":{"hdr":false,"live":{"streaming":false,"archived":false},"staff_pick":{"normal":false,"best_of_the_month":false,"best_of_the_year":false,"premiere":false},"vod":false,"weekend_challenge":false},"interactive":false},"created_time":"2019-11-25T17:56:45+00:00","modified_time":"2024-01-18T17:07:05+00:00","release_time":"2019-11-25T17:56:45+00:00","content_rating":["safe"],"content_rating_class":"safe","rating_mod_locked":false,"license":null,"privacy":{"view":"anybody","embed":"public","download":false,"add":true,"comments":"anybody"},"pictures":{"uri":"/videos/375468729/pictures/834247532","active":true,"type":"custom","base_link":"https://i.vimeocdn.com/video/834247532-e21d524058afe2238e888abfd82747ec985e40cfecce18a85004586c8faa9386-d","sizes":[{"width":100,"height":75,"link":"https://i.vimeocdn.com/video/834247532-e21d524058afe2238e888abfd82747ec985e40cfecce18a85004586c8faa9386-d_100x75?r=pad","link_with_play_button":"https://i.vimeocdn.com/filter/overlay?src0=https%3A%2F%2Fi.vimeocdn.com%2Fvideo%2F834247532-e21d524058afe2238e888abfd82747ec985e40cfecce18a85004586c8faa9386-d_100x75&src1=http%3A%2F%2Ff.vimeocdn.com%2Fp%2Fimages%2Fcrawler_play.png"},{"width":200,"height":150,"link":"https://i.vimeocdn.com/video/834247532-e21d524058afe2238e888abfd82747ec985e40cfecce18a85004586c8faa9386-d_200x150?r=pad","link_with_play_button":"https://i.vimeocdn.com/filter/overlay?src0=https%3A%2F%2Fi.vimeocdn.com%2Fvideo%2F8342[...]
